@use '../colors' as *;

.clients {
    padding-bottom: 96px;
}

.section-heading {
    font-family: 'Helvetica Neue Cyr';
    font-weight: 500;
    color: $mainColor;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 74px;
}

.clients-list {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    flex-wrap: wrap;
}

.client {
    width: 22.1%;
    min-width: 200px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E1E1E1;
}

@media (max-width: 1420px) {
    .clients-list {
        justify-content: center;
    }
}