@use '../colors' as *;

.registration {
    padding: 130px 0 105px 0;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 120px;
    justify-content: center;
    font-family: 'Helvetica Neue Cyr';
    background-image: url('assets/images/registrationbg.png');
    background-size: 100% 100%;
}

.registration-heading {
    color: white;
    font-weight: 500;
    font-size: 3rem;
    width: 30%;
}

.registration-description {
    width: 40%;
    p {
        font-size: 1.06rem;
        line-height: 1.6rem;
        margin-bottom: 36px;
        color: white;
        font-weight: 300;
    }

    button {
        padding: 9px 25px;
        border-radius: 100px;
        color: white;
        font-weight: 500;
        background-color: rgba(255, 255, 255, 0.3);
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 0px 1px 10px 0px rgba(255, 255, 255, 0.2);
        }
    }
}

@media (min-width: 1800px) {
    .registration-description {
        p {
            font-size: 1.3rem;
            line-height: 1.6rem; 
        }

        button {
            font-size: 1.15rem;
        }
    }
}

@media (max-width: 758px) {
    .registration {
        background-image: url('assets/images/registrationbg2.png');
    }
}

@media (max-width: 550px) {
    .registration {
        flex-direction: column;
        align-items: center;
        row-gap: 18px;
    }

    .registration-heading, .registration-description {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 380px) {
    .registration {
        width: 91%;
        padding-right: 20px;
        padding-left: 20px;
        margin: 0 auto;
    }

    .registration-heading {
        word-wrap: break-word;
    }
}