@font-face {
    font-family: 'Gotham Pro';
    src: url('assets/fonts/GothamProRegular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('assets/fonts/GothamProMedium.woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('assets/fonts/GothamProBold.woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Helvetica Neue Cyr';
    src: url('assets/fonts/HelveticaNeueCyrLight.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr';
    src: url('assets/fonts/HelveticaNeueCyrLightItalic.woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue Cyr';
    src: url('assets/fonts/HelveticaNeueCyrMedium.woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr';
    src: url('assets/fonts/HelveticaNeueCyrMediumItalic.woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue Cyr';
    src: url('assets/fonts/HelveticaNeueCyrRoman.woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/MontserratBold.woff');
    font-weight: 700;
    font-style: normal;
}