@use 'colors' as *;

footer {
    font-family: 'Helvetica Neue Cyr';
    padding-bottom: 100px;

    hr {
        width: 65%;
        height: 1px;
        background-color: #CECECE;
        margin: 67px auto;
    }
}

.links {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 70px;
    justify-content: space-around;
    
    address {
        font-style: normal;
    }
}

.footer-heading {
    font-weight: 500;
    font-size: 1.25rem;
    color: $mainColor;
    margin-bottom: 39px;
}

.nav-links-list {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    a {
        font-size: 1.06rem;
        color: #677488;

        &:hover {
            color: #454d5a;
        }
    }
}

.email-link {
    color: $mainColor;
    font-weight: 300;
    font-size: 2.4rem;

    &::after {
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        margin-top: 1.8px;
        background-color: $mainColor;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover::after {
        opacity: 1;
    }
}

.copyright {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 7px;
    row-gap: 40px;

    small {
        font-weight: bold;
        font-size: 1.06rem;
    }

    .telegads-logo {
        user-select: none;
        margin-right: 0px;
    }

    .logo-part-1, .logo-part-2 {
        color: #BBBBBB;
    }
}

@media (min-width: 1800px) {
    .footer-heading {
        font-size: 1.7rem;
    }

    .nav-links-list a {
        font-size: 1.3rem;
    }

    .copyright small {
        font-size: 1.2rem;
    }
}

@media (max-width: 1110px) {
    .copyright, footer hr {
        width: 80%;
    }
}

@media (max-width: 432px) {
    .links {
        justify-content: flex-start;
        padding-left: 20px;
    }

    .email-link {
        font-size: 2rem;
    }
}